services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: andreyysak
      POSTGRES_PASSWORD: puma4774
      POSTGRES_DB: dashboard_db
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  bot:
    build:
      context: .
      dockerfile: Dockerfile.prod
    env_file: .env
    depends_on:
      - db

volumes:
  db_data:
